@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

}

html,
body {
  background-color: #000;
}

.hero-bar {
  width: 100%;
  height: 0.25rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  transform: rotate(45deg);
  animation: heroFade 0.5s ease forwards;
  opacity: 0;
}

@keyframes heroFade {
  to {
    opacity: 1;
  }
}

@media (min-width: 640px) {
  .main-content {
    margin-right: 5rem;
    /* collapsed width: 20 */
  }
}

@media (min-width: 1024px) {
  .main-content.expanded {
    margin-right: 18rem;
    /* expanded lg width: 72 */
  }
}

@media (min-width: 1280px) {
  .main-content.expanded {
    margin-right: 20rem;
    /* expanded xl width: 80 */
  }
}